[submodule "src/DifferentialRiccatiEquations.jl"]
	path = src/DifferentialRiccatiEquations.jl
	url = git@gitlab.mpi-magdeburg.mpg.de:jschulze/DifferentialRiccatiEquations.jl.git
[submodule "src/ParaReal.jl"]
	path = src/ParaReal.jl
	url = git@gitlab.mpi-magdeburg.mpg.de:jschulze/ParaReal.jl.git
