[submodule "src/DifferentialRiccatiEquations.jl"]
	path = src/DifferentialRiccatiEquations.jl
	url = ../DifferentialRiccatiEquations.jl
[submodule "src/ParaReal.jl"]
	path = src/ParaReal.jl
	url = ../ParaReal.jl
